# Homework 2 (100 points)
## Due: Tuesday, Sept 14 @ 6:30 PM 

**The very first thing you should do is save your own copy of this Homework by clicking on File -> "Save a copy in Drive"**

This homework is divided into 4 sections which all perform different tasks on the initial data provided.  Read the data description below carefully to understand the data, then work on each section.

When you complete this assignment, **please submit 1 file and 1 link via Canvas before the deadline.**


1.   Your Jupyter Notebook code as a .py file (File -> "Download .py")
2.   As a comment on your .py submission please include a link to your Google CoLab Jupyter notebook. Click the "Share" button in the top right.  Ensure that anyone with the link has at least "Commenter" access. **Once you submit your HW on Canvas, please do not make any more edits to the Jupyter notebook until after your HW is graded**

Please use the naming convention:  

**firstname_lastname_homework2.py**

## Data Description

This dataset consists of tv shows and movies available on Netflix as of 2019. The dataset is collected from Flixable which is a third-party Netflix search engine.

See Kaggle page for more info: https://www.kaggle.com/shivamb/netflix-shows

The data is available in the Canvas Module for **pandas** under the name `netflix_titles.csv`

Load this data into `pandas` and use `index_col='show_id'`

In [6]:
import pandas as pd

netflix = pd.read_csv('/content/drive/MyDrive/Data/netflix_titles.csv', index_col ='show_id')

In [7]:
# Write code to load data below
type(netflix)

pandas.core.frame.DataFrame

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Section 1: Dataset Overview
**2.5 points each (total 10 points)**

Let's get an initial understanding of the data we are working with. Provide answers and code below.

1.  How many rows and columns are in this dataset?
2.  Provide a list of the column names
3.  Print the **first 10 rows** of this dataset
4.  Use `.info()` to understand where there may be null values in the data

In [62]:
#1
netflix.shape

(7787, 12)

In [63]:
#2
netflix.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'is_produced_in_usa'],
      dtype='object')

In [ ]:
#3
netflix.head(10)

In [ ]:
#4
netflix.info()

## Section 2:  Data Cleaning
**5 points each (total 10 points)**

Let's take some steps to improve the data set for analysis purposes.


1.   There are NA/NaN values in `director`, `cast`, and `country`.  Let's replace these with the value `"Unknown"` using `fillna`
2.   Create a new column `is_produced_in_usa` which is True if `country` contains the word `United States` and False otherwise.  (Hint: Sometimes `country` contains multiple countries separated by commas.  We want to be able to catch `United States` even if it's in this list with other countries also.

***Challenge (not required for points)*** 
Make a new column called `duration_bucket`.  This column will bucket the values found in `duration`, similar to how we grouped values in HW1.  Examples of buckets might be `61-90 minutes`, `91-120 minutes`, `120+ minutes`, or `3+ seasons`.  To do this, I recommend creating a function that converts the value in `duration` to the `bucket_name`, then using the `pandas` `.apply()` function to the `duration` column to create a transformed column, which you can then insert into the dataframe.

Reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.apply.html

In [16]:
netflix.count()

type                  7787
title                 7787
director              5398
cast                  7069
country               7280
date_added            7777
release_year          7787
rating                7780
duration              7787
listed_in             7787
description           7787
is_produced_in_usa    7787
dtype: int64

In [26]:
#1
netflix.fillna("Unkown", inplace=True)

In [ ]:
#2
is_produced_in_usa = netflix.country == 'United States' 
netflix['is_produced_in_usa'] = is_produced_in_usa

netflix.is_produced_in_usa

In [124]:
usa_total = sum(is_produced_in_usa)
print(usa_total)

2555

## Section 3: Data Questions
**10 points each (50 points total)**

Explore the data set to answer the questions below.  In addition to providing the answer, please provide the code you used to answer each question.

1.   What % of Netflix content is produced in the USA?  You can calculate the numerator and denominator separately.  (Hint: Use the new column you created in Section 1)
2.   List all the **movies** directed by **M. Night Shyamalan** that are available on Netflix.
3.   Which **TV Shows produced in Japan** that were released in **2006** are available on Netflix?
4.   How many **movies** and how many **TV shows** (reported separately) did Netflix add in the **month of July 2019**?
5.   List the Netflix content (movies/TV shows) about the FBI (`description` contains "FBI") chronologically by release year (most recent first)

***Challenge (not required for points)*** 

What % of content on Netflix is added in the same year as it is released? Does this differ by movie vs TV show?

In [125]:
#1
usa_percent = (usa_total / 7787)*100
print(usa_percent)

32.81109541543598

In [126]:
#2
netflix.head()
shyamalan = netflix.director == 'M. Night Shyamalan'
netflix[shyamalan]

          type  ... is_produced_in_usa
show_id         ...
s3517    Movie  ...               True
s6551    Movie  ...               True

[2 rows x 12 columns]

In [ ]:
#3
netflix.head()
tv_shows = netflix.type == 'TV Show'
in_japan = netflix.country =='Japan'
in_year = netflix.release_year == 2006
netflix[tv_shows & in_japan & in_year]

In [ ]:
#4-TV Shows
netflix.head()
tv_shows = netflix.type == 'TV Show'
begin_july_2019 = netflix.date_added >= 'July 1, 2019'
end_july_2019 = netflix.date_added <= 'July 31, 2019'
netflix[tv_shows & begin_july_2019 & end_july_2019].count(axis='columns')

In [ ]:
#4-Movies
netflix.head()
movie = netflix.type == 'Movie'
begin_july_2019 = netflix.date_added >= 'July 1, 2019'
end_july_2019 = netflix.date_added <= 'July 31, 2019'
netflix[movie & begin_july_2019 & end_july_2019].count(axis='columns')

In [ ]:
#5
fbi = netflix.description.str.contains("FBI")
netflix[fbi].sort_values(by=['release_year'], ascending=False)

## Section 4: Exploration
**10 points each (30 points total)**

Now choose **3** of your own questions/hypotheses that you would like to explore in this data set.  

Write down your questions/hypotheses as well as your findings and code.  Questions should be of reasonable complexity (either involving data transformations like creating new columns, multiple conditions, or aggregations like `value_counts`).

In [ ]:
#Question 1: What are a list of the foriegn horror movies Netflix offers?
netflix.head()
is_movie = netflix.type == 'Movie'
is_horror = netflix.listed_in == 'Horror Movies'
is_foriegn = netflix.is_produced_in_usa == False
netflix[is_movie & is_horror & is_foriegn]

In [138]:
#Question 2: How many new (2019 and above) rated G movies does Netflix have?
netflix.head()
is_movie = netflix.type == 'Movie'
is_ratedg = netflix.rating == "G"
is_new = netflix.release_year >= 2019
netflix[is_movie & is_new & is_under_hrhalf].value_counts()

type   title                                     director                                          cast                                                                                                                                                                                                                                       country         date_added         release_year  rating  duration  listed_in                                               description                                                                                                                                              is_produced_in_usa
Movie  Òlòtūré                                   Kenneth Gyang                                     Beverly Osu, Sharon Ooja, Omowunmi Dada, Pearl Okorie, Wofai Samuel, Ikechukwu Onunaku, Kemi Lala Akindoju, Blossom Chukwujekwu, Adebukola Oladipupo, Omoni Oboli, Segun Arinze, Ada Ameh, Sambasa Nzeribe, Patrick Doyle, Gregory Ojefua  Nigeria         October 2, 2020    2020          TV-MA   107 min   Dramas, International Movies                            In Lagos, a journalist goes undercover as a prostitute to expose human trafficking. What she finds is a world of exploited women and ruthless violence.  False                 1
       Go Karts                                  Owen Trevor                                       William Lodder, Anastasia Bampos, Darius Amarfio-Jefferson, Richard Roxburgh, Frances O'Connor, Dan Wyllie, Cooper van Grootel, Damian de Montemas, Adam T. Perkins                                                                        Australia       March 13, 2020     2020          TV-PG   103 min   Children & Family Movies, Dramas                        A fearless teen leans into the rush of high-speed go-kart racing, backed by good friends — and a surly ex-driver who becomes his coach.                  False                 1
       Gunjan Saxena: The Kargil Girl            Sharan Sharma                                     Janhvi Kapoor, Pankaj Tripathi, Angad Bedi, Viineet Kumar, Manav Vij, Ayesha Raza Mishra                                                                                                                                                   India           August 12, 2020    2020          TV-14   113 min   Action & Adventure, Dramas, International Movies        Flight Lieutenant Gunjan Saxena makes history in her journey from aspiring aviator to India’s first female combat pilot in the Kargil War.               False                 1
       Guna 369                                  Arjun Jandyala                                    Adithya Menon, Kartikeya Gummakonda, Anagha LK                                                                                                                                                                                             India           November 15, 2019  2019          TV-MA   143 min   Action & Adventure, Dramas, International Movies        A pampered but kind-hearted average joe ditches his romancing and peacekeeping ways when he’s framed for a murder he didn’t commit.                      False                 1
       Guilty                                    Ruchi Narain                                      Kiara Advani, Akansha Ranjan Kapoor, Gurfateh Pirzada, Taher Shabbir, Niki Walia, Manu Rishi Chadha, Dalip Tahil, Kunal Vijaykar                                                                                                           India           March 6, 2020      2020          TV-MA   120 min   Dramas, International Movies                            When a college heartthrob is accused of rape by a less popular student, his girlfriend navigates various versions of the story in search of the truth.   False                 1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ..
       Rob Schneider: Asian Momma, Mexican Kids  Tyler Spindel                                     Rob Schneider                                                                                                                                                                                                                              United States   August 11, 2020    2020          TV-MA   44 min    Stand-Up Comedy                                         Former "Saturday Night Live" star Rob Schneider returns to the stage and shares his take on life, love and dinosaur dreams in this stand-up special.     True                  1
       River, el más grande siempre              Marcelo Altmark, Mariano Mucci, Luis A. Scalella  Unkown                                                                                                                                                                                                                                     Argentina       July 5, 2019       2019          TV-G    105 min   Documentaries, International Movies, Sports Movies      Experience the highlights of Argentine soccer team Club Atlético River Plate's long history, from its early development to its major victories.          False                 1
       Rising Phoenix                            Unkown                                            Unkown                                                                                                                                                                                                                                     United Kingdom  August 26, 2020    2020          PG-13   107 min   Documentaries, International Movies, Sports Movies      Elite athletes and insiders reflect on the Paralympic Games and examine how they impact a global understanding of disability, diversity and excellence.  False                 1
       Riding Faith                              Paco Aguilar                                      John Schneider, T.C. Stallings, Grace Van Dien, Marisa Brown, Jimmy Deshler                                                                                                                                                                United States   June 17, 2020      2020          TV-PG   81 min    Children & Family Movies, Dramas, Faith & Spirituality  Following her father's death, a young woman struggles to help her mother keep the family ranch afloat while preserving a special bond with her horse.    True                  1
       #FriendButMarried 2                       Rako Prijanto                                     Adipati Dolken, Mawar de Jongh, Sari Nila, Vonny Cornellya, Clay Gribble, Ivan Leonardy, Sarah Sechan, Jourdy Pranata                                                                                                                      Indonesia       June 28, 2020      2020          TV-G    104 min   Dramas, International Movies, Romantic Movies           As Ayu and Ditto finally transition from best friends to newlyweds, a quick pregnancy creates uncertainty for the future of their young marriage.        False                 1
Length: 812, dtype: int64

In [69]:
#Hypothesis: I believe Netflix offers more Movies than TV Shows.
netflix.head()
netflix.type.value_counts()

Movie      5377
TV Show    2410
Name: type, dtype: int64