# Homework 3 (100 points)
## Due: Tuesday, Sept 21 @ 6:30 PM 

**The very first thing you should do is save your own copy of this Homework by clicking on File -> "Save a copy in Drive"**

This homework is divided into 2 sections which each perform different tasks on the initial data provided.  Read the data description below carefully to understand the data, then work on each section.

When you complete this assignment, **please submit 1 file and 1 link via Canvas before the deadline.**

1.   Your Jupyter Notebook code as a .ipynb file (File -> "Download .ipynb")
2.   As a comment on your .ipynb submission please include a link to your Google CoLab Jupyter notebook. Click the "Share" button in the top right.  Ensure that anyone with the link has at least "Commenter" access. **Once you submit your HW on Canvas, please do not make any more edits to the Jupyter notebook until after your HW is graded**

Please use the naming convention:  

**firstname_lastname_homework3.ipynb**

**Until both steps 1 and 2 have been completed, your assignment is considered INCOMPLETE and you will receive -10% per day late until the assignment is completed.**

## Data Description

The dataset used for this homework is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016.

**Each row corresponds to an individual athlete competing in an individual Olympic event (athlete-events).**

Kaggle page for data: https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

You can find the file in Canvas as `athlete_events.csv`

## Section 1: What does peak performance look like?
**Total 30 points**

Olympians are world-class athletes, but peak performance body types and ages can differ drastically depending on the sport/event.  Let's analyze this by specifically looking at those athletes that **won medals** as a proxy for peak performance.

### Part 1: Data Prep

**10 points**

Using the original dataframe loaded from the CSV, create a new dataframe `medalists` with the following characteristics


*   Data is filtered to only the rows that have `"Gold", "Silver", or "Bronze"` in `Medals`.
*   Any rows that have NA or NaN are dropped using `dropna()`. 

*Note: With the steps above, your new dataframe `medalists` should have 30,181 rows*

In [5]:

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Write your code below
import pandas as pd
olympics = pd.read_csv('/content/drive/MyDrive/Data/athlete_events.csv')
olympics.head()

In [ ]:
#"Medal", inplace=True
medalists = olympics.dropna()
medalists

### Part 2: Heights and Weights by Event
**5 points each (total 20 points)**

Using `medalists`, answer the below questions by aggregating the column of interest by `Event` and sorting the result values.


1.   Which **Event** has the **smallest** average **height** for **female medalists**? What is it?
2.   Which **Event** has the **highest** average **age** for **female medalists**? What is it?
3.   Which **Event** has the **highest** average **weight** for **male medalists**? What is it?
4.   Which **Event** has the **highest** average **height** for **male medalists**? What is it?

Note: You can use `.reset_index(inplace=True)` on your dataframe to convert all multi-indexes to normal columns, which are easier to work with.

In [8]:
print('1. Which Event has the smallest average height for female medalists? What is it?')
small_height_female = medalists.groupby(by=['Event', 'Sex'])['Height'].mean()
small_height_female = small_height_female.reset_index()
small_height_female[(small_height_female.Sex == 'F')].sort_values(by='Height', ascending=True).head(1)

1. Which Event has the smallest average height for female medalists? What is it?

                               Event Sex      Height
543  Weightlifting Women's Flyweight   F  149.866667

In [9]:
print('2. Which Event has the highest average age for female medalists? What is it?')
highest_age_female = medalists.groupby(['Event', 'Sex'])['Age'].mean()
highest_age_female = highest_age_female.reset_index()
highest_age_female[(highest_age_female.Sex == 'F')].sort_values(by='Age', ascending=False).head(1)

2. Which Event has the highest average age for female medalists? What is it?

                                  Event Sex      Age
237  Equestrianism Mixed Dressage, Team   F  35.1875

In [10]:
print('3. Which Event has the highest average weight for male medalists? What is it?')
high_weight_male = medalists.groupby(['Event', 'Sex'])['Weight'].mean()
high_weight_male = high_weight_male.reset_index()
high_weight_male[(high_weight_male.Sex == 'M')].sort_values(by='Weight', ascending=False).head(1)

3. Which Event has the highest average weight for male medalists? What is it?

                                     Event Sex      Weight
539  Weightlifting Men's Super-Heavyweight   M  139.542857

In [11]:
print('4. Which Event has the highest average height for male medalists? What is it?')
high_height_male = medalists.groupby(['Event', 'Sex'])['Height'].mean()
high_height_male = high_height_male.reset_index()
high_height_male[(high_height_male.Sex == 'M')].sort_values(by='Height', ascending=False).head(1)

4. Which Event has the highest average height for male medalists? What is it?

                           Event Sex      Height
105  Basketball Men's Basketball   M  197.996721

### Challenge (Not required for points)

Use `seaborn` to plot how these biometrics have changed over the past 100 years in various sports (see last part of lecture).  In other words, create a visual that shows, for example, how the average height has changed for a given Olympic Event (like Gymnastics) over time.

In [12]:
# Challenge code

## Section 2: Winter vs Summer
**70 points total**

Let's try to answer the question:

*Which countries perform better in the Winter Olympics as compared to the Summer Olympics?*

To do this, we will take the following general steps:


*   Create a metric to evaluate Olympic performance
*   Calculate that metric for every country and season (Summer/Winter)
*   For a given country, compare the relative contribution to the metric from the Summer Olympics vs the Winter Olympics
*   Rank them by highest relative performance in the Winter Olympics

### Part 1: Filter Data and Fill NA
**5 point each (total 10 points)**

1.   The Winter Olympics have only been around since 1924 while the Summer Olympics started in 1896.  Let's filter this dataframe to `Year >= 1924` so that we have an even playing field within which to compare Winter performance to Summer performance.
2.   The `Medal` column contains many `NaN` values.  Use `fillna` to substitute these values with `"None"` (i.e. the string "None") instead.

In [ ]:
# Write code below
olympics
olympics.Medal.fillna('None', inplace=True)
filter_out = olympics['Year'] >=1924
olympics_season = olympics[filter_out]
olympics_season

### Part 2: Calculate Weighted Medal Points
**5 points for the function, 5 points for the transformation, 5 points for adding the column (15 points total)**

When evaluating country performance in the Olympics, we don't want to count Gold medals as equivalent to Silver/Bronze medals.  Let's assign "Medal Points" to each tier of Olympic medal as follows:

*   Gold:  3 points
*   Silver: 2 points
*   Bronze: 1 point
*   No medal: 0 points

Write a function `medal_to_points` to transform and create a new column called `MedalPoints`.  `medal_to_points` will accept a string (possible values are `"Gold"`, `"Silver"`, `"Bronze"`, `"None"`) and returns the appropriate number of points as an integer.

Then add a new column `MedalPoints` to your dataframe using `transform` and the newly defined function `medal_to_points`

In [ ]:
# Define medal_to_points below
def medal_to_points(medal):
  if (medal) == 'Gold':
    point = 3
  if (medal) == 'Silver':
    point = 2
  if (medal) == 'Bronze':
    point = 1
  if (medal) == 'None':
    point = 0        
  return point    
    # Insert logic to convert medal to point value
    # Return the converted point value
olympics_season['MedalPoints'] = olympics_season.Medal.transform(medal_to_points)
olympics_season.head()

In [15]:
# Write code to add new column MedalPoints to your dataframe

### Part 3: Aggregate MedalPoints
**15 points**

We need to figure out how each country (NOC) performed in the Summer, and how each country performed in the winter.  Now that we have created the performance metric `MedalPoints`, we need to aggregate to figure out how many `MedalPoints` each country earned in each season (Summer and Winter).

1.   Using `NOC` for country and `Season` for season, determine the total number of `MedalPoints` that each country earned in each season (Summer vs Winter)
2.   Store the results of the above in a new dataframe

In [54]:
# Write your code below
olympics_NOC = olympics_season.groupby(['NOC', 'Season'], as_index=False).MedalPoints.sum()
olympics_NOC.head()

   NOC  Season  MedalPoints
0  AFG  Summer            2
1  ALG  Summer           29
2  ARG  Summer          434
3  ARM  Summer           24
4  AUS  Summer         2221

### Part 4: Calculate the % of Medal Pts earned in each Season for each Country
**15 points**

To determine which countries perform better in Winter as compared to Summer, let's rank them by the % of Medal Points earned in the Winter.  In order to do this, we need to calculate a % of total medal points earned by season (Summer vs Winter).

Using a function (can be a lambda function), create a new column `PctWinterMedalPoints` in the data frame by transforming `Medal Points`. **Note: if stuck here, see lecture and lecture notes where we did a similar transformation**

In [63]:
# Write your code below
olympics_NOC.fillna(0, inplace=True)
olympics_NOC['PctWinterMedalPoints']=olympics_NOC.groupby('Season')['MedalPoints'].transform(lambda x: x/x.sum())
olympics_NOC.head()

   NOC  Season  MedalPoints  PctWinterMedalPoints
0  AFG  Summer            2              0.000041
1  ALG  Summer           29              0.000589
2  ARG  Summer          434              0.008811
3  ARM  Summer           24              0.000487
4  AUS  Summer         2221              0.045089

### Part 5: Report Results
**15 points**

For countries **earning at least 100 MedalPoints in the Winter Olympics**, list the top 3 countries that earned the highest % of their Medal Points in the Winter Olympics.  Also list the percentage of Medal Points earned and total number of Medal Points earned in the Winter Olympics.

In [62]:
# Write your code below
top_winter = olympics_NOC[olympics_NOC.Season=='Winter'][olympics_NOC.MedalPoints>=100].sort_values('PctWinterMedalPoints', ascending=False).head(3)
top_winter.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

     NOC  Season  MedalPoints  PctWinterMedalPoints
23   CAN  Winter         1197              0.123110
175  USA  Winter         1022              0.105112
172  URS  Winter          913              0.093901